table.sui-grid{box-sizing:border-box;border-collapse:collapse;}
table.sui-grid *{box-sizing:border-box}
table.sui-grid td{border-bottom:1px solid #ddd;margin:0;padding:0}
table.sui-grid tr:first-child td{border-top:1px solid #ddd}
table.sui-grid td:first-child{border-left:1px solid #ddd}
table.sui-grid td:last-child{border-right:1px solid #ddd}
.sui-top-right{position:absolute;top:0;right:0;background-color:#fff;-webkit-box-shadow:-1px 1px 6px rgba(0,0,0,0.1);-moz-box-shadow:-1px 1px 6px rgba(0,0,0,0.1);box-shadow:-1px 1px 6px rgba(0,0,0,0.1);}
.sui-top-right.sui-grid tr:first-child td{border-top:none}
.sui-top-right.sui-grid td:last-child{border-right:none}
.sui-input,.sui-output,.sui-button{box-sizing:border-box;font-size:11px;font-family:Helvetica,"Nimbus Sans L","Liberation Sans",Arial,sans-serif;margin:0;padding:0;display:inline-block;line-height:23px;vertical-align:middle;padding:0 6px}
.sui-input *,.sui-output *,.sui-button *{box-sizing:border-box}
.sui-input{border:none;background-color:#f6f6f6}
.sui-bool{text-align:center}
.sui-color{background-color:#f6f6f6;}
.sui-color .sui-color-control{padding:0 4px;margin:0}
.sui-color .sui-color-text{font-family:monospace;text-align:right}
.sui-float,.sui-int,.sui-range-input-int,.sui-range-input-float{text-align:right;font-family:monospace}
.sui-grid .sui-color{width:100%;}
.sui-grid .sui-color .sui-color-control{width:calc(100% - 4px - 6em)}
.sui-grid .sui-color .sui-color-text{width:6em}
.sui-grid .sui-float,.sui-grid .sui-int,.sui-grid .sui-text{width:100%}
.sui-grid .sui-range-int .sui-range-slider-int{width:calc(100% - 8px - 6em);margin-left:4px}
.sui-grid .sui-range-int .sui-range-input-int{width:6em}
.sui-grid .sui-range-float .sui-range-slider-float{width:calc(100% - 8px - 6em);margin-left:4px}
.sui-grid .sui-range-float .sui-range-input-float{width:6em}
.sui-grid .sui-bool{width:100%}
.sui-single td[colspan="2"] .sui-input,.sui-single td[colspan="2"] .sui-output,.sui-single td[colspan="2"] .sui-button{width:100%}
.sui-range-int,.sui-range-float{background-color:#f6f6f6}

