@import "icons"

$light-border = #ddd
$dark-border = #aaa
$white-background = #ffffff
$light-background = #f6f6f6
$very-light-background = #fafafa
$dark-background = #eeeeee
$invalid = #dd0000
$font-default = Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif
$font-mono = Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace
$outline-color = #eee solid 2px
$outline-offset = -2px
$icon = 12px
$iconmini = 8px

box-shadow(args...)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

// components
table.sui-grid
  box-sizing border-box
  *
    box-sizing border-box
  border-collapse collapse
  td
    border-bottom 1px solid $light-border
    margin 0
    padding 0
  tr:first-child
    td
      border-top 1px solid $light-border
  td:first-child
    border-left 1px solid $light-border
  td:last-child
    border-right 1px solid $light-border
  td.sui-top
  td.sui-left
    background-color $white-background
  td.sui-bottom
  td.sui-right
    background-color $light-background

.sui-bottom-left
.sui-bottom-right
.sui-top-left
.sui-top-right
  position absolute
  background-color #fff

.sui-top-right
  top 0
  right 0
  box-shadow(-1px 1px 6px rgba(0,0,0,0.1))
  &.sui-grid
    tr:first-child
      td
        border-top none
    td:last-child
      border-right none
.sui-top-left
  top 0
  left 0
  box-shadow(1px 1px 6px rgba(0,0,0,0.1))
  &.sui-grid
    tr:first-child
      td
        border-top none
    td:last-child
      border-left none
.sui-bottom-right
  bottom 0
  right 0
  box-shadow(-1px 1px 6px rgba(0,0,0,0.1))
  &.sui-grid
    tr:first-child
      td
        border-bottom none
    td:last-child
      border-right none
.sui-bottom-left
  bottom 0
  left 0
  box-shadow(1px 1px 6px rgba(0,0,0,0.1))
  &.sui-grid
    tr:first-child
      td
        border-bottom none
    td:last-child
      border-left none
.sui-fill
  position absolute
  width 100%
  max-height 100%
  top 0
  left 0

.sui-append
  width 100%

.sui-control
.sui-folder
  -moz-user-select -moz-none
  -khtml-user-select none
  -webkit-user-select none
  -o-user-select none
  user-select none
  box-sizing border-box
  font-size 11px
  font-family $font-default
  line-height 18px
  vertical-align middle
  *
    box-sizing border-box
    margin 0
    padding 0
  button
    line-height 18px
    vertical-align middle
  input
    line-height 18px
    vertical-align middle
    border none
    background-color $light-background
  button:hover
    background-color $very-light-background
    border 1px solid $light-border
  button:focus
    background-color $very-light-background
    border 1px solid $dark-border
    outline $outline-color
  input:focus
    outline $outline-color
    $outline-offset $outline-offset
    background-color $very-light-background

  output
    padding 0 6px
    background-color $white-background

  input[type="number"]
  input[type="date"]
  input[type="datetime-local"]
  input[type="time"]
    text-align right
  input[type="number"]
    font-family $font-mono
  input
    padding 0 6px
  input[type="color"]
  input[type="checkbox"]
    padding 0
    margin 0
  input[type="range"]
    margin 0 8px
    min-height 19px
  button
    background-color $dark-background
    border 1px solid $dark-border
    border-radius 4px

  &.sui-control-single
    input
    output
    button
      width 100%
    input[type="checkbox"]
      width initial
  &.sui-control-double
    input
    output
    button
      width 50%
    .input1
      width calc(100% - 7em)
    .input2
      width 7em
    .input1[type="range"]
      width calc(100% - 7em - 16px)
  &.sui-type-bool
    text-align center
  &.sui-invalid
    border-left 4px solid $invalid

.sui-array
  list-style none
  .sui-array-item
    border-bottom 1px dotted $dark-border
    position relative
    .sui-icon
    .sui-icon-mini
      opacity 0.1
    .sui-array-add
      .sui-icon
      .sui-icon-mini
        opacity 0.2
    > *
      vertical-align top
    &:first-child
      > .sui-move
        > .sui-icon-up
          visibility hidden
    &:last-child
      border-bottom none
      > .sui-move
        > .sui-icon-down
          visibility hidden
    > div
      display inline-block
    .sui-move
      position absolute
      width $iconmini
      height 100%
      .sui-icon-mini
        display block
        position absolute
      .sui-icon-up
        top 0
        left 1px
      .sui-icon-down
        bottom 0
        left 1px
    .sui-control-container
      margin 0 14px 0 10px
      width calc(100% - 24px)
    .sui-remove
      width $icon
      position absolute
      right 1px
      top 0
    .sui-icon-remove
    .sui-icon-up
    .sui-icon-down
      cursor pointer
    &.sui-focus
      > .sui-move
      > .sui-remove
        .sui-icon
        .sui-icon-mini
          opacity 0.4
  ~ .sui-control
    margin-bottom 0px

.sui-map
  border-collapse collapse
  .sui-map-item
    > td
      border-bottom 1px dotted $dark-border
    &:last-child
      > td
        border-bottom none
    .sui-icon
      opacity 0.1
    .sui-array-add
      .sui-icon
        opacity 0.2
    .sui-remove
      width $icon + 2px
      text-align right
      padding 0 1px
    .sui-icon-remove
      cursor pointer
    &.sui-focus
      > .sui-remove
        .sui-icon
          opacity 0.4

.sui-disabled
  .sui-icon
  .sui-icon-mini
  .sui-icon:hover
  .sui-icon-mini:hover
    opacity 0.05 !important
    cursor default

.sui-array-add
  text-align right
  .sui-icon
  .sui-icon-mini
    margin-right 1px
    opacity 0.2
    cursor pointer


.sui-icon
.sui-icon-mini
  display inline-block
  opacity 0.4
  vertical-align middle
  &:hover
    opacity 0.8 !important

.sui-icon
  width $icon
  height $icon
  background-size $icon $icon

.sui-icon-mini
  width $iconmini
  height $iconmini
  background-size $iconmini $iconmini

.sui-folder
  padding 0 6px
  font-weight bold
  
.sui-grid-inner
  width 100%
  margin-left 6px